In [1]:
import pandas as pd
import numpy as np

Filtering/Cleaning Steps:
- Title Basics:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include  "Documentary" in genre (see tip below)

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
basics.dropna(subset=['genres','runtimeMinutes'],inplace=True)

- Eliminate movies that are null for genre

In [5]:
# basics.drop(basics[basics['genres']=='NaN'].index, inplace = True)

In [6]:
basics.replace({'\\N':np.nan}, inplace=True)

- keep only titleType==Movie

In [7]:
# basics.drop(basics[basics['startYear']=='NaN'].index, inplace = True)
basics = basics[basics['startYear'].notna()]

In [8]:
# movie_fil=basics['titleType']=='movie'
basics=basics.loc[(basics.titleType == 'movie')]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
8903297,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
8903324,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
8903336,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
8903347,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
8903357,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

- keep 2000-2022

In [9]:
print(basics['startYear'].value_counts())

2018    18364
2017    18329
2016    17888
2019    17842
2021    17311
        ...
1903        3
2029        3
1904        2
1897        1
1896        1
Name: startYear, Length: 134, dtype: int64

In [10]:
basics['startYear'].unique()

array(['1905', '1906', '1907', '1908', '1909', '1910', '1912', '1911',
       '1913', '1915', '1914', '1919', '1916', '1917', '1936', '1925',
       '1918', '1920', '1922', '1921', '1924', '1923', '1928', '2019',
       '1926', '1927', '1929', '2000', '1993', '1935', '1930', '1942',
       '1932', '1931', '1934', '1939', '1937', '1933', '1950', '1938',
       '1951', '1946', '1996', '1940', '1944', '1947', '1941', '1952',
       '1970', '1957', '1943', '1948', '1945', '2001', '1949', '1953',
       '1954', '1965', '1983', '1980', '1973', '1961', '1955', '1962',
       '1958', '1956', '1977', '1964', '1960', '1959', '1967', '1968',
       '1963', '1971', '1969', '1972', '1966', '1976', '1990', '1979',
       '1981', '2020', '1975', '1978', '1989', '1974', '1986', '1995',
       '1987', '1985', '2018', '1984', '1982', '1988', '1991', '1994',
       '1992', '2005', '2004', '1998', '2016', '2002', '2017', '1997',
       '2021', '1999', '2006', '2008', '2009', '2003', '2007', '2022',
       '2010', '1898', '1899', '2012', '2013', '2011', '1904', '2015',
       '1897', '1901', '1902', '1900', '1903', '2014', '2024', '2023',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [11]:
basics['startYear']=basics['startYear'].astype(int)
# year_fill=basics[(basics['startYear']>=2000) & (basics['startYear']<=2022)]
basics=basics.loc[((basics['startYear'] >=2000) & (basics['startYear'] <= 2022))]

Eliminate movies that include  "Documentary" in genre

In [12]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False, 
                                               na=False)
basics[~is_documentary]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime"
15179,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
8903172,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
8903204,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"
8903256,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
8903336,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
8903347,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN

AKAs:
keep only US entries.
Replace "\N" with np.nan

In [13]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [14]:
akas =pd.read_csv(akas_url,sep='\t', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [15]:
akas.replace({'\\N':np.nan}, inplace=True)

In [16]:
# akas=akas.loc['region']=='US'

akas=akas.loc[(akas.region == 'US')]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
31884948,tt9916702,1,Loving London: The Playground,US,NaN,imdbDisplay,NaN,0
31884986,tt9916720,10,The Demonic Nun,US,NaN,tv,NaN,0
31884988,tt9916720,12,The Nun 2,US,NaN,imdbDisplay,NaN,0
31885005,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
31885021,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

Ratings:
Replace "\N" with np.nan (if any)

In [17]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [18]:
ratings =pd.read_csv(ratings_url,sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1879
1  tt0000002            5.9       248
2  tt0000003            6.5      1651
3  tt0000004            5.8       161
4  tt0000005            6.2      2476

In [19]:
ratings.replace({'\\N':np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1879
1        tt0000002            5.9       248
2        tt0000003            6.5      1651
3        tt0000004            5.8       161
4        tt0000005            6.2      2476
...            ...            ...       ...
1241781  tt9916690            6.5         6
1241782  tt9916720            5.2       209
1241783  tt9916730            8.7         6
1241784  tt9916766            6.7        19
1241785  tt9916778            7.2        34

[1241786 rows x 3 columns]

In [20]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

11636      False
15179      False
34805       True
61119       True
67672       True
           ...
8903297    False
8903324    False
8903336    False
8903347    False
8903357    False
Name: tconst, Length: 277647, dtype: bool

In [21]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
8902939,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
8903079,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
8903088,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
8903172,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
8903204,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"

In [22]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [23]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [24]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [25]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74.0,"Horror,Music,Thriller"

In [26]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70.0,Drama,[Drama]

In [27]:
exploded_genres = basics.explode('genres_split')
exploded_genres.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance",Fantasy

In [28]:
genres_split = basics['genres'].str.split(',')
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Music', 'Thriller', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Documentary', 'Crime', nan, 'Biography', 'Animation', 'Family',
       'War', 'History', 'Adult', 'Sport', 'Western', 'Short',
       'Reality-TV', 'News', 'Talk-Show', 'Game-Show'], dtype=object)

In [29]:
unique_genres = (exploded_genres['genres_split'].unique())

In [30]:
title_genres=exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [31]:
genre_map=dict(zip(unique_genres,range(len(unique_genres))))
genre_map

{'Comedy': 0,
 'Fantasy': 1,
 'Romance': 2,
 'Drama': 3,
 'Horror': 4,
 'Sci-Fi': 5,
 'Music': 6,
 'Thriller': 7,
 'Mystery': 8,
 'Musical': 9,
 'Action': 10,
 'Adventure': 11,
 'Documentary': 12,
 'Crime': 13,
 nan: 14,
 'Biography': 15,
 'Animation': 16,
 'Family': 17,
 'War': 18,
 'History': 19,
 'Adult': 20,
 'Sport': 21,
 'Western': 22,
 'Short': 23,
 'Reality-TV': 24,
 'News': 25,
 'Talk-Show': 26,
 'Game-Show': 27}

In [34]:
genres_ =pd.DataFrame({'Genre_Name':genre_map.keys(),
                           'Genre_ID':genre_map.values()})
genres_.head()

  Genre_Name  Genre_ID
0     Comedy         0
1    Fantasy         1
2    Romance         2
3      Drama         3
4     Horror         4

In [35]:
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [36]:
genres_.to_csv("Data/genres_.csv.gz",compression='gzip',index=False)

In [37]:
title_genres['genre_id'] = title_genres['genres_split'].replace(genre_map)
title_genres=title_genres.drop(columns='genres_split')

In [46]:
title_genres.head()

      tconst  genre_id
0  tt0035423         0
0  tt0035423         1
0  tt0035423         2
1  tt0062336         3
2  tt0069049         3

In [47]:
title_genres.to_csv("Data/title_genres.csv.gz",compression='gzip',index=False)

In [67]:
basics['genre_id'] = basics['genres_split'].replace(genre_map)
basics=basics.drop(columns=['genres_split','genre_id'])

KeyError: 'genres_split'

In [68]:
basics = basics.drop(columns=['isAdult','originalTitle','titleType','genre_id'],inplace=True)

KeyError: "['isAdult' 'originalTitle' 'titleType'] not found in axis"

- Saving the MySQL tables with tconst as the primary key.

In [69]:
basics.dtypes

tconst             object
primaryTitle       object
startYear           int64
endYear           float64
runtimeMinutes    float64
genre_id           object
dtype: object

In [70]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
connection = "mysql+pymysql://root:Lemonade12#@localhost/movies"

In [71]:
engine = create_engine(connection)

In [72]:
from sqlalchemy_utils import create_database, database_exists
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

The database already exists.

In [73]:
from sqlalchemy.types import *
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
basics_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [75]:
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',index=False)

OperationalError: (pymysql.err.OperationalError) (1241, 'Operand should contain 1 column(s)')
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`, genre_id) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s, %(genre_id)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001, 'endYear': None, 'runtimeMinutes': 118.0, 'genre_id': ['Comedy', 'Fantasy', 'Romance']}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 70.0, 'genre_id': ['Drama']}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018, 'endYear': None, 'runtimeMinutes': 122.0, 'genre_id': ['Drama']}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005, 'endYear': None, 'runtimeMinutes': 100.0, 'genre_id': ['Comedy', 'Horror', 'Sci-Fi']}, {'tconst': 'tt0093119', 'primaryTitle': 'Grizzly II: Revenge', 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 74.0, 'genre_id': ['Horror', 'Music', 'Thriller']}, {'tconst': 'tt0094859', 'primaryTitle': 'Chief Zabu', 'startYear': 2016, 'endYear': None, 'runtimeMinutes': 74.0, 'genre_id': ['Comedy']}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002, 'endYear': None, 'runtimeMinutes': 126.0, 'genre_id': ['Drama']}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017, 'endYear': None, 'runtimeMinutes': 80.0, 'genre_id': ['Comedy', 'Drama', 'Fantasy']}  ... displaying 10 of 135877 total bound parameter sets ...  {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020, 'endYear': None, 'runtimeMinutes': 92.0, 'genre_id': ['Drama', 'History']}, {'tconst': 'tt9916428', 'primaryTitle': 'The Secret of China', 'startYear': 2019, 'endYear': None, 'runtimeMinutes': None, 'genre_id': ['Adventure', 'History', 'War']})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [80]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

OperationalError: (pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

- Got an error, However when i run this "SHOW KEYS FROM title_basics WHERE Key_name = 'PRIMARY';"
I get only the tconst as the primary key.

In [76]:
ratings.to_sql('title_ratings',engine,if_exists='replace',index=False)

In [77]:
title_genres.to_sql('title_genres',engine,if_exists='replace',index=False)

In [78]:
genres_.to_sql('genres',engine,if_exists='replace',index=False)

In [79]:
q= '''SHOW TABLES;'''
pd.read_sql(q,engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings

In [85]:
import pandas as pd
years=pd.read_csv(r"C:\Users\marya\Documents\GitHub\Project-3-movies-database\Data\tmdb_results_combined.csv.gz")
years.head()

,imdb_id,adult,backdrop_path,budget,genres,id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",11232.0,en,Kate & Leopold,When her scientist ex-boyfriend discovers a po...,12.779,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.3,1105.0,PG-13
1,tt0118589,0.0,/bLntSfsqUheiUirdV9Ts8znqsTM.jpg,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",10696.0,en,Glitter,"A young woman is catapulted into pop stardom, ...",5.917,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.6,115.0,PG-13
2,tt0118652,0.0,/mWxJEFRMvkG4UItYJkRDMgWQ08Y.jpg,1000000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",17140.0,en,The Attic Expeditions,Trevor Blackburn is accused of murdering his g...,3.481,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,His search for peace of mind... will leave his...,The Attic Expeditions,0.0,5.1,28.0,R
3,tt0120681,0.0,/xo2S7gRwCvWdVqM0Swv37yA2rzw.jpg,35000000.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",768.0,en,From Hell,Frederick Abberline is an opium-huffing inspec...,31.189,...,74558115.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only the legend will survive.,From Hell,0.0,6.7,2281.0,R
4,tt0120737,0.0,/vRQnzOn4HjIMX4LBq9nHhFXbsSu.jpg,93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",120.0,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",111.962,...,871368364.0,179.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,0.0,8.4,20868.0,PG-13

In [95]:
years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               299 non-null    object
 1   adult                 299 non-null    float64
 2   backdrop_path         234 non-null    object
 3   budget                299 non-null    float64
 4   genres                299 non-null    object
 5   id                    299 non-null    float64
 6   original_language     299 non-null    object
 7   original_title        299 non-null    object
 8   overview              297 non-null    object
 9   popularity            299 non-null    float64
 10  poster_path           280 non-null    object
 11  production_companies  299 non-null    object
 12  production_countries  299 non-null    object
 13  release_date          299 non-null    object
 14  revenue               299 non-null    float64
 15  runtime               299 non-null    float64
 16  spoken_languages      299 non-null    object
 17  status                299 non-null    object
 18  tagline               220 non-null    object
 19  title                 299 non-null    object
 20  video                 299 non-null    float64
 21  vote_average          299 non-null    float64
 22  vote_count            299 non-null    float64
 23  certification         204 non-null    object
dtypes: float64(9), object(15)
memory usage: 56.2+ KB

In [97]:
cols = [1,2,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20,21,22]
years.drop(years.columns[cols], axis =1,inplace=True)

In [98]:
years.head()

     imdb_id      budget      revenue certification
0  tt0035423  48000000.0   76019048.0         PG-13
1  tt0118589  22000000.0    5271666.0         PG-13
2  tt0118652   1000000.0          0.0             R
3  tt0120681  35000000.0   74558115.0             R
4  tt0120737  93000000.0  871368364.0         PG-13

In [99]:
years.to_csv("Final_tmdb.csv.gz",compression='gzip',index=False)