In [1]:
import pandas as pd
import numpy as np

Filtering/Cleaning Steps:
- Title Basics:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include  "Documentary" in genre (see tip below)

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
basics.dropna(subset=['genres','runtimeMinutes'],inplace=True)

- Eliminate movies that are null for genre

In [5]:
# basics.drop(basics[basics['genres']=='NaN'].index, inplace = True)

In [6]:
basics.replace({'\\N':np.nan}, inplace=True)

- keep only titleType==Movie

In [7]:
# basics.drop(basics[basics['startYear']=='NaN'].index, inplace = True)
basics = basics[basics['startYear'].notna()]

In [8]:
# movie_fil=basics['titleType']=='movie'
basics=basics.loc[(basics.titleType == 'movie')]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
8887575,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
8887602,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
8887614,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
8887625,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
8887635,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

- keep 2000-2022

In [9]:
print(basics['startYear'].value_counts())

2018    18343
2017    18322
2016    17879
2019    17841
2021    17287
        ...
1903        3
2029        3
1904        2
1897        1
1896        1
Name: startYear, Length: 134, dtype: int64

In [10]:
basics['startYear'].unique()

array(['1905', '1906', '1907', '1908', '1909', '1910', '1912', '1911',
       '1913', '1915', '1914', '1919', '1916', '1917', '1936', '1925',
       '1918', '1920', '1922', '1921', '1924', '1923', '1928', '2019',
       '1926', '1927', '1929', '2000', '1993', '1935', '1930', '1942',
       '1932', '1931', '1934', '1939', '1937', '1933', '1950', '1938',
       '1951', '1946', '1996', '1940', '1944', '1947', '1941', '1952',
       '1970', '1957', '1943', '1948', '1945', '2001', '1949', '1953',
       '1954', '1965', '1983', '1980', '1973', '1961', '1955', '1962',
       '1958', '1956', '1977', '1964', '1960', '1959', '1967', '1968',
       '1963', '1971', '1969', '1972', '1966', '1976', '1990', '1979',
       '1981', '2020', '1975', '1978', '1989', '1974', '1986', '1995',
       '1987', '1985', '2018', '1984', '1982', '1988', '1991', '1994',
       '1992', '2005', '2004', '1998', '2016', '2002', '2017', '1997',
       '2021', '1999', '2006', '2008', '2009', '2003', '2007', '2022',
       '2010', '1898', '1899', '2012', '2013', '2011', '1904', '2015',
       '1897', '1901', '1902', '1900', '1903', '2014', '2024', '2023',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [11]:
basics['startYear']=basics['startYear'].astype(int)
# year_fill=basics[(basics['startYear']>=2000) & (basics['startYear']<=2022)]
basics=basics.loc[((basics['startYear'] >=2000) & (basics['startYear'] <= 2022))]

Eliminate movies that include  "Documentary" in genre

In [12]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False, 
                                               na=False)
basics[~is_documentary]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,NaN,NaN,"Action,Crime"
15179,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,NaN,60,NaN
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
...,...,...,...,...,...,...,...,...,...
8887450,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
8887482,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"
8887534,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
8887614,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
8887625,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN

AKAs:
keep only US entries.
Replace "\N" with np.nan

In [13]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [14]:
akas =pd.read_csv(akas_url,sep='\t', low_memory=False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [15]:
akas.replace({'\\N':np.nan}, inplace=True)

In [16]:
# akas=akas.loc['region']=='US'

akas=akas.loc[(akas.region == 'US')]
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
31825999,tt9916702,1,Loving London: The Playground,US,NaN,imdbDisplay,NaN,0
31826037,tt9916720,10,The Demonic Nun,US,NaN,tv,NaN,0
31826039,tt9916720,12,The Nun 2,US,NaN,imdbDisplay,NaN,0
31826056,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
31826072,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

Ratings:
Replace "\N" with np.nan (if any)

In [17]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [18]:
ratings =pd.read_csv(ratings_url,sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1877
1  tt0000002            5.9       248
2  tt0000003            6.5      1649
3  tt0000004            5.8       160
4  tt0000005            6.2      2475

In [19]:
ratings.replace({'\\N':np.nan})

            tconst  averageRating  numVotes
0        tt0000001            5.7      1877
1        tt0000002            5.9       248
2        tt0000003            6.5      1649
3        tt0000004            5.8       160
4        tt0000005            6.2      2475
...            ...            ...       ...
1240067  tt9916690            6.5         6
1240068  tt9916720            5.1       208
1240069  tt9916730            8.7         6
1240070  tt9916766            6.7        19
1240071  tt9916778            7.2        34

[1240072 rows x 3 columns]

In [20]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

11636      False
15179      False
34805       True
61119       True
67672       True
           ...
8887575    False
8887602    False
8887614    False
8887625    False
8887635    False
Name: tconst, Length: 277323, dtype: bool

In [21]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
8887217,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
8887357,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
8887366,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
8887450,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
8887482,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"

In [22]:
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [23]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [24]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [25]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [26]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74.0,"Horror,Music,Thriller"

- Part 2: Extraction TMDB API

In [27]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\marya\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.12)

In [28]:
import json
with open('/Users/marya/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [29]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [30]:
movie=tmdb.Movies(650)

In [31]:
info=movie.info()
info

{'adult': False,
 'backdrop_path': '/6SnFa3qfCvh4aARg6y3UevKLROh.jpg',
 'belongs_to_collection': None,
 'budget': 6500000,
 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
 'homepage': '',
 'id': 650,
 'imdb_id': 'tt0101507',
 'original_language': 'en',
 'original_title': 'Boyz n the Hood',
 'overview': 'Boyz n the Hood is the popular and successful film and social criticism from John Singleton about the conditions in South Central Los Angeles where teenagers are involved in gun fights and drug dealing on a daily basis.',
 'popularity': 46.002,
 'poster_path': '/v4ox4aSCNT5vyLXl4Q71JiWwCXW.jpg',
 'production_companies': [{'id': 5,
   'logo_path': '/71BqEFAF4V3qjjMPCpLuyJFB9A.png',
   'name': 'Columbia Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1991-07-12',
 'revenue': 57504069,
 'runtime': 112,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': "Once upon a time in South Central L.A... It ain't no fairy tale.",
 'title': 'Boyz n the Hood',
 'video': False,
 'vote_average': 7.6,
 'vote_count': 1434}

In [32]:
def get_movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1']=='US':
            movie_info['certification'] = c['certification']
        return movie_info

In [33]:
trial = get_movie_with_rating("tt0848228") 
trial

{'adult': False,
 'backdrop_path': '/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 263.142,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.7,
 'vote_count': 26795,
 'certification': 'PG-13'}

In [52]:
import os
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [53]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74.0,"Horror,Music,Thriller"

In [54]:
YEARS_TO_GET = [2000, 2001]

In [55]:
YEAR = YEARS_TO_GET

In [ ]:
from tqdm import tqdm
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json' 
    file_exists = os.path.isfile(JSON_FILE)
# If it does not exist: create it
if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
    with open(JSON_FILE,'w') as f:
        json.dump([{'imdb_id':0}],f)
 #Saving new year as the current df
df = basics.loc[ basics['startYear']==YEAR].copy()
# saving movie ids to list
movie_ids = df['tconst'].copy()#.to_list()
previous_df = pd.read_json(JSON_FILE)
# filter out any ids that are already in the JSON_FILE
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

#Get index and movie id from list
# INNER Loop
for movie_id in tqdm(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        # Attempt to retrieve then data for the movie id
    try:
            
        temp = get_movie_with_rating(movie_id)  #This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
            
        # If it fails,  make a dict with just the id and None for certification.
    except Exception as e:
            continue

final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)